<p-toast></p-toast>
<div class="row">
  <h4><img src="../../../assets/drivers.png" width="40" alt="motorsports"> Motorsports360 Drivers/Events/Teams</h4>
</div>

<div class="row my-5 bannerAvatarWrap">
  <div class="col-md-3">
    <label for="">Driver Banner Image</label>
    <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false"
      (nzChange)="driverAvatarChange($event)">
      <ng-container *ngIf="!driverAvatarUrl">
        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
      <img *ngIf="driverAvatarUrl" [src]="driverAvatarUrl" class="avatar" />
    </nz-upload>
  </div>

  <div class="col-md-3">
    <label for="">Team Banner Image</label>
    <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false"
      (nzChange)="teamAvatarChange($event)">
      <ng-container *ngIf="!teamAvatarUrl">
        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
      <img *ngIf="teamAvatarUrl" [src]="teamAvatarUrl" class="avatar" />
    </nz-upload>
  </div>

  <div class="col-md-3">
    <label for="">Event Banner Image</label>
    <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false"
      (nzChange)="eventAvatarChange($event)">
      <ng-container *ngIf="!eventAvatarUrl">
        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
      <img *ngIf="eventAvatarUrl" [src]="eventAvatarUrl" class="avatar" />
    </nz-upload>
  </div>

  <div class="col-md-3">
    <label for="">Leader Banner Image</label>
    <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false"
      (nzChange)="leaderAvatarChange($event)">
      <ng-container *ngIf="!leaderAvatarUrl">
        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
        <div class="ant-upload-text">Upload</div>
      </ng-container>
      <img *ngIf="leaderAvatarUrl" [src]="leaderAvatarUrl" class="avatar" />
    </nz-upload>
  </div>
</div>

<nz-spin [nzSpinning]="isSpinning">
  <div class="row">
    <ng2-smart-table class="table table-responsive"
        (editConfirm)="onSaveConfirm($event)"
       [settings]="settings" [source]="data">
    </ng2-smart-table>
  </div>
</nz-spin>
