<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <!-- <img src="../assets/vserve.png" alt="" class="img-fluid" width="90px"> <br> -->
      <span style="font-size: 18px; letter-spacing: 3px;">Motorsport</span>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active"><img src="../assets/hotel.png"
            class="mr-3" width="30" alt=""> Dashboard</a>
      </li>
      <li>
        <a [routerLink]="['/admin/news']" routerLinkActive="router-link-active"><img src="../assets/hotel.png"
            class="mr-3" width="30" alt=""> News</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <button type="button" class="btn btn-outline-light" (click)="logout()">Logout</button>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
        </button>
        <h4><img src="../assets/vserve.png" alt="" class="img-fluid" width="50px"></h4>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>