<p-toast></p-toast>
<div class="row">
  <h4 class="mb-5"><img src="../../../assets/audio.png" width="40" alt="motorsports_news"> Motorsports360 Audios
  </h4>
</div>
<div class="row mb-3" [hidden]="addBtn === false">
  <button nz-button nzType="primary" (click)="addBtnClicked()" nzShape="round"><i nz-icon nzType="plus"></i> Add
    Audio</button>
</div>

<div class="addNewsForm mb-5" [hidden]="showAddNewsForm === false">
  <div class="row">
    <div class="col-md-12">
      <h5>Please enter all the information before publish. <small class="text-muted">( *all fields are mandatory !
          )</small> </h5>
      <hr class="mb-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <nz-tooltip nzTrigger="focus" nzPlacement="bottom" [nzTitle]="headlineTitle">
        <label for="">Title</label>
        <input nz-input nz-tooltip placeholder="title" style="width: 100%" [(ngModel)]="audioHeadline"
          (ngModelChange)="onHeadlineChange($event)" />
      </nz-tooltip>
    </div>
    <div class="col-md-4">
      <label>Audio URL</label>
      <input nz-input nz-tooltip placeholder="url" style="width: 100%" [(ngModel)]="audioUrl" />
    </div>
    <div class="col-md-4">
      <label>Image URL</label>
      <input nz-input nz-tooltip placeholder="url" style="width: 100%" [(ngModel)]="audioImageUrl" />
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-2">
      <label>DATE</label>
      <nz-date-picker style="width: 100%;" [(ngModel)]="audioDate"></nz-date-picker>
    </div>
    <div class="col-md-3">
      <label>TIME</label>
      <nz-time-picker style="width: 100%;" [(ngModel)]="audioTime" [nzUse12Hours]="true" nzFormat="h:mm a">
      </nz-time-picker>
    </div>
    <div class="col-md-3">
      <label>SERIES</label>
      <nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Select a series" [(ngModel)]="seriesID">
        <nz-option *ngFor="let series of seriesIDs" [nzLabel]="series.name" [nzValue]="series.id"></nz-option>
      </nz-select>
    </div>
  </div>
   <div class="row">
    <div class="col-md-10">
      <nz-tooltip nzTrigger="focus" nzPlacement="bottom" [nzTitle]="descriptionTitle">
        <label for="">DESCRIPTION</label>
        <textarea rows="3" nz-input nz-tooltip placeholder="Description" style="width: 100%"
          [(ngModel)]="audioDescription" (ngModelChange)="onDescriptionChange($event)"></textarea>
      </nz-tooltip>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <button nz-button nzType="dashed" (click)="addNewsCancel()" class="mr-3">Cancel</button>
      <button nz-button nzType="primary" (click)="publishAudio()" [nzLoading]="isLoadingTwo">
        <i nz-icon type="plus"></i>Publish
      </button>
    </div>
  </div>
</div>


<div class="row">
  <ng2-smart-table class="table table-responsive" (deleteConfirm)="onDeleteConfirm($event)" (edit)="onEditRow($event)"
    (editConfirm)="onSaveConfirm($event)" [settings]="settings" [source]="data">
  </ng2-smart-table>
</div>