/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
  letter-spacing: .6px;
}

.ng2-smart-pagination-nav{
  margin-top: 10px;
}

