<p-toast></p-toast>
<div class="row">
  <h4 class="mb-5"><img src="../../../assets/series_logo.png" width="40" alt="motorsports"> Motorsports360 Series</h4>
</div>
<div class="row mb-3" [hidden]="addBtn === false">
  <button nz-button nzType="primary" (click)="addBtnClicked()" nzShape="round"><i nz-icon nzType="plus"></i> Add
    Series</button>
</div>

<div class="addNewsForm mb-5" [hidden]="showAddSeriesForm === false">
  <div class="row">
    <div class="col-md-12">
      <h5>Please enter all the information before publish. <small class="text-muted">( *all fields are mandatory !)</small> </h5>
      <hr class="mb-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <label for="">NAME</label>
        <input nz-input nz-tooltip placeholder="Name" style="width: 100%" [(ngModel)]="name" />
    </div>
    <div class="col-md-6">
      <label for="">Team Url</label>
      <input nz-input nz-tooltip placeholder="Team url" style="width: 100%" [(ngModel)]="team_url" />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <label for="">Event url</label>
      <input nz-input nz-tooltip placeholder="Event url" style="width: 100%" [(ngModel)]="event_url" />
    </div>
    <div class="col-md-6">
      <label for="">Driver Url</label>
      <input nz-input nz-tooltip placeholder="Driver url" style="width: 100%" [(ngModel)]="driver_url" />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <nz-upload class="avatar-uploader" nzName="avatar"
        nzListType="picture-card" [nzShowUploadList]="false"
        (nzChange)="handleChange($event)">
        <ng-container *ngIf="!avatarUrl">
          <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />
      </nz-upload>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <button nz-button nzType="dashed" (click)="addNewsCancel()" class="mr-3">Cancel</button>
      <button nz-button nzType="primary" (click)="publishSeries()" [nzLoading]="isLoadingTwo">
        <i nz-icon type="plus"></i>Publish
      </button>
    </div>
  </div>
</div>


<div class="row">
  <ng2-smart-table class="table table-responsive" (deleteConfirm)="onDeleteConfirm($event)" (delete)="seriesDelete($event)" (edit)="onEditRow($event)"
    (editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)" [settings]="settings"
    [source]="data">
  </ng2-smart-table>
</div>


<nz-modal [(nzVisible)]="isVisible" nzTitle="EDIT AUTHOR" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div class="row">
    <div class="col-md-12">
      <p><b>ID:</b> {{authorID}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label for="">NAME</label>
      <input nz-input nz-tooltip placeholder="Name" style="width: 100%" [(ngModel)]="name" />
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false"
        (nzChange)="handleChange($event)">
        <ng-container *ngIf="!avatarUrl">
          <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />
      </nz-upload>
    </div>
  </div>
</nz-modal>